<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Holes

    <a data-toggle="collapse" href="#couse_holes_new_form">
      Add hole
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @couse.holes.each do |hole| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to hole, hole %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to hole, method: :delete, data: { confirm: "Do you really want to delete this hole" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="couse_holes_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
