<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @couse, partial: "card", as: :couse %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "couses/couse_holes" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "couses/couse_course_likes" %>
  </div>
</div>
