<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Hole Likes

    <a data-toggle="collapse" href="#hole_hole_likes_new_form">
      Add hole like
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @hole.hole_likes.each do |hole_like| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to hole_like, hole_like %>

        <%= link_to hole_like, method: :delete, data: { confirm: "Do you really want to delete this hole_like" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="hole_hole_likes_new_form">
        <%= render partial: "holes/hole_hole_likes_new_form" %>
      </div>
    </div>

  </ul>
</div>
