<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @course_like, partial: "card", as: :course_like %>
  </div>
</div>

  <!-- Show Page Customization starts -->

  <!-- Show Page Customization end -->
